.hollowKnight{
    background-image: url("HollowKnight_screenshots/background.jpg");
    
}

.GTFO{
    background-image: url("GTFO_screenshots/background.jpg");
}

.doom{
    background-image: url("Doom_screenshots/Background.jpg");
}

.hollowKnight, .doom, .GTFO{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main, #body{
    display: flex;
    padding: 1.5em;
    width: 60%;
    margin: auto;
    font-family: sans-serif ;
    background-color: rgb(46, 46, 46);
    flex-direction: column;
    row-gap: 1em;
    color: rgb(54, 54, 54);
}

#body{
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
}

#info{
    display: flex;
    column-gap: 1em;
}

#beschrijving, #rating, #screenshot, #systemReq, footer, header{
    background-color: rgb(107, 107, 107);
    padding: 1em;
}

#beschrijving{
    flex: 3;
}

#rating{
    flex: 2;
}

#tags{
    display: flex;
    column-gap: 1em;
}

.tag{
    float: left;
    margin: 3.4rem 0 0;
    background-color: rgb(155, 155, 155);
    width: fit-content;
    padding: 0.5rem;
    color: rgb(230, 230, 230);
}

button{
    width: 14em;
    height: 5em;
    margin-right: 2em;
    border: 0;
    background-color: rgb(65, 65, 65);
    color: rgb(155, 155, 155);
}

#screenshot{
    display: flex;
    justify-content: space-between;
}

img{
    width: 24%;
}

h2{
    height: 23px    ;
    margin-top: 0;
}

#gamePicker, #basket{
    display: flex;
    flex-direction: column;
}

.games{
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 1em;
    flex-grow: 7;
    max-width: 70%;
}

.addRemoveButton{
    flex-grow: 1;
    height: inherit;
}

.gameP{
    width: fit-content;
    color: black;
}

.gameContainer{
    display: flex;
    justify-content: space-between;
}

.gameListContainer{
    display: flex;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#bereken, #submit{
    align-self: self-end;
    margin: 0;
}

#filterDiv{
    background-color: grey;
    display: flex;
    padding: 1em;
    margin-top: 1em;
    justify-content: space-between;
}

.basketDiv{
    display: flex;
    margin-top: 1em;
}